In [8]:
import os
import pandas as pd

def concat_all_csvs(directory):
    csv_files = [
        os.path.join(root, file)
        for root, _, files in os.walk(directory)
        for file in files if file.endswith('.csv')
    ]
    df_list = [pd.read_csv(file) for file in csv_files]
    return pd.concat(df_list, ignore_index=True)

# Set your base directory containing the CSV files
base_dir = "data\\us_stocks\dow30\\raw_2007-01-01-2024-12-29"  # adjust this to your folder
all_data = concat_all_csvs(base_dir)

all_data

,date,adjusted price,close,high,low,open,volume,ticker,day
0,2007-01-03,2.521843,2.992857,3.092143,2.925000,3.081786,1238319600,AAPL,2
1,2007-01-04,2.577818,3.059286,3.069643,2.993571,3.001786,847260400,AAPL,3
2,2007-01-05,2.559460,3.037500,3.078571,3.014286,3.063214,834741600,AAPL,4
3,2007-01-08,2.572100,3.052500,3.090357,3.045714,3.070000,797106800,AAPL,0
4,2007-01-09,2.785764,3.306071,3.320714,3.041071,3.087500,3349298400,AAPL,1
...,...,...,...,...,...,...,...,...,...
131003,2024-12-20,91.987389,92.239998,93.750000,91.629997,93.010002,49350600,WMT,4
131004,2024-12-23,90.102570,90.349998,91.500000,88.910004,91.500000,26205400,WMT,0
131005,2024-12-24,92.426186,92.680000,92.680000,90.349998,90.370003,8992400,WMT,1
131006,2024-12-26,92.535889,92.790001,92.879997,92.169998,92.540001,10994000,WMT,3
131007,2024-12-27,91.408981,91.660004,92.349998,91.029999,92.129997,11384400,WMT,4

In [12]:
all_data.groupby("ticker")["date"].count().unique()

array([4528, 4224])

In [16]:
base_dir = "data\\us_stocks\\nasdaq100\\raw_2007-01-01-2024-12-29"  # adjust this to your folder
all_data = concat_all_csvs(base_dir)

all_data

,date,adjusted price,close,high,low,open,volume,ticker,day
0,2007-01-03,53.076344,56.299999,56.919998,53.889999,53.889999,2955600,AAL,2
1,2007-01-04,55.470909,58.840000,59.150002,53.650002,56.299999,2614500,AAL,3
2,2007-01-05,54.952400,58.290001,59.150002,57.900002,58.830002,1656300,AAL,4
3,2007-01-08,54.613007,57.930000,60.480000,57.040001,57.299999,2163200,AAL,0
4,2007-01-09,54.584728,57.900002,60.200001,57.560001,59.439999,2098600,AAL,1
...,...,...,...,...,...,...,...,...,...
386231,2024-12-20,66.291306,67.400002,67.820000,66.470001,66.529999,13060700,XEL,4
386232,2024-12-23,66.606041,67.720001,67.830002,66.830002,67.120003,2535600,XEL,0
386233,2024-12-24,67.087982,68.209999,68.279999,67.599998,67.790001,943900,XEL,1
386234,2024-12-26,67.058479,68.180000,68.440002,67.730003,67.870003,1394900,XEL,3
386235,2024-12-27,67.019135,68.139999,68.650002,67.610001,67.720001,2015000,XEL,4

In [17]:
all_data.groupby("ticker")["date"].count().unique()

array([4528, 3875, 2896, 3771, 1461, 2669, 2388, 4386, 4376, 3623, 4455,
       3650, 4323, 3832, 3071])

In [19]:
base_dir = "data\cn_stocks\hs300\preprocessed_2007-01-01-2024-12-29"  # adjust this to your folder
all_data = concat_all_csvs(base_dir)

all_data

,index,adjusted price,close,high,low,open,volume,ticker,day,macd,...,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma,dopen,dhigh,dlow,dclose,dvolume
0,2007-01-04,-1.432223,0.155106,0.168407,0.152028,0.161042,1.860422,000001.SZ,0.704288,-0.042705,...,-5.657089,-0.598281,5.903576,-1.485560,-1.487665,-0.110674,-0.213663,-0.127583,-0.161400,-0.969754
1,2007-01-05,-1.492510,0.143563,0.153127,0.142904,0.153127,1.139797,000001.SZ,1.415077,-0.067403,...,-5.657089,-0.598281,5.903576,-1.521029,-1.523322,-0.110674,-0.213663,-0.127583,-0.161400,-0.969754
2,2007-01-08,-1.474711,0.146971,0.148840,0.143124,0.143454,0.116602,000001.SZ,-1.428077,-0.064096,...,-3.035907,-0.467397,5.903576,-1.525871,-1.528189,-0.135268,-0.059949,0.003074,0.047651,-1.377217
3,2007-01-09,-1.450022,0.151698,0.152577,0.146202,0.147191,0.871329,000001.SZ,-0.717288,-0.045792,...,-0.878844,-0.058915,1.454903,-1.521029,-1.523322,0.052263,0.052263,0.043040,0.066097,1.017076
4,2007-01-10,-1.433945,0.154776,0.156425,0.149499,0.151588,0.720882,000001.SZ,-0.006500,-0.024100,...,0.051467,0.333729,-1.031662,-1.514341,-1.516598,0.061486,0.053800,0.046114,0.043040,-0.201905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572989,2024-12-23,2.695078,0.558905,0.561356,0.549099,0.549916,1.261852,601998.SS,-1.428073,0.136834,...,0.284468,-0.118586,-0.779672,0.817674,0.766885,-0.031183,0.046775,0.000000,0.093550,1.453497
572990,2024-12-24,2.794023,0.567893,0.571161,0.557270,0.557270,0.743485,601998.SS,-0.717262,0.172362,...,0.523939,0.250756,-0.453920,0.827429,0.774747,0.070163,0.093550,0.077959,0.085754,-0.866705
572991,2024-12-25,2.847994,0.572795,0.575247,0.565441,0.570344,0.666184,601998.SS,-0.006450,0.234420,...,0.650963,0.469197,-0.323637,0.837183,0.782014,0.124733,0.038979,0.077958,0.046775,-0.121719
572992,2024-12-26,2.785029,0.567076,0.572795,0.562173,0.570344,0.398451,601998.SS,0.704362,0.239142,...,0.476393,0.255521,-0.462546,0.844797,0.784754,0.000000,-0.023387,-0.031183,-0.054571,-0.443370
572993,2024-12-27,2.785029,0.567076,0.569527,0.557270,0.567076,0.380699,601998.SS,1.415173,0.240574,...,0.476393,0.082071,-0.668638,0.853837,0.788209,-0.031183,-0.031184,-0.046775,0.000000,-0.021139

In [21]:
all_data.groupby("ticker")["index"].count().unique()

array([4374])